.course-card {
  width: 100%;
  max-width: 320px;
  background: linear-gradient(
    145deg,
    #1c1f2b,
    #111320
  );
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 25px 60px rgba(0, 0, 0, 0.55);
  transition: 0.35s ease;
}


.course-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 30px 60px rgba(0, 0, 0, 0.18);
}

/* IMAGE */
.course-image {
  height: 180px;
  background-size: cover;
  background-position: center;
  position: relative;
}

.course-image::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.05),
    rgba(0, 0, 0, 0.45)
  );
}

.level-badge {
  position: absolute;
  top: 14px;
  left: 14px;
  background: rgba(255, 255, 255, 0.9);
  color: #764ba2;
  padding: 6px 14px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: 600;
  z-index: 2;
}

/* CONTENT */
.course-content {
  padding: 20px;
}

.course-title {
  font-size: 18px;
  font-weight: 600;
  color: #eae1e1;
  margin-bottom: 8px;
}

.course-description {
  font-size: 14px;
  color: #ebe6e6;
  line-height: 1.5;
  margin-bottom: 16px;
}

/* PROGRESS */
.progress-wrapper {
  margin-bottom: 18px;
}

.progress-bar {
  height: 6px;
  background: #eee;
  border-radius: 6px;
  overflow: hidden;
  margin-bottom: 6px;
}

.progress-fill {
  height: 100%;
  background: linear-gradient(90deg, #667eea, #764ba2);
  border-radius: 6px;
}

.progress-text {
  font-size: 12px;
  color: #f6f3f3;
}

/* FOOTER */
.course-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price {
  font-size: 16px;
  font-weight: 700;
  color: #e2dede;
}

.view-btn {
  text-decoration: none;
  background: linear-gradient(135deg, #667eea, #764ba2);
  color: #fff;
  padding: 8px 18px;
  border-radius: 20px;
  font-size: 13px;
  font-weight: 600;
  transition: 0.3s;
}

.view-btn:hover {
  transform: translateY(-2px);
  opacity: 0.9;
}

/* RESPONSIVE */
@media (max-width: 480px) {
  .course-card {
    max-width: 100%;
  }
}
